*{
        margin: 0;
        padding: 0;
        user-select: none;
}
.container{
         display: flex;
         flex-direction: column;
         width: 100%;
         
}
header{
         display: flex;
         /* max-width:1080px ; */
         /* border: 1px solid #932; */
         flex-direction: column;
         background: #352d2f;
         /* justify-content: center; */
         
         
}
.header_div_nav{
         position: relative;
        
         width: 100%;
         border-bottom: 2px solid rgba(255, 255, 255, 0.192);
         margin-bottom: 150px;
}
.header_nav{
         margin: 15px auto;
         position: relative;
         /* padding-left: 70px; */
         /* border: 2px solid rgba(255, 255, 255, 0.192); */
}
.header_nav>img{
         position: absolute;
         left: 0;
}
.header_nav__ul{
         display: flex;
         padding-top: 20px;
         list-style: none;
         justify-content: center;
         flex-wrap: wrap;
         align-items: center;
         /* max-width: 1080px; */
}
.header_nav__ul>li:first-child{
       position: relative;
       display: flex;
       right: 170px;
}

.header_nav__ul>li{
         line-height: 50px;
}
.header_nav__ul>li+li:hover{
         color: red;
}
.header_nav__ul>li+li+li{
         margin-left: 20px;
}
.header_nav__ul>li{
         color: #fff;
         font-size: 16px;
         font-weight: 400;
         font-family: "Titillium_Web_R";
}
.burger{
        display: none;
        /* display: flex; */
        height: 22px;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
}
.burger__item{
        width: 19px;
        height: 4px;
        background-color: #fff;
        display: block;
}
.burger__content{
        display: none;
        position: absolute;
        left: -176px;
        top: 24px;
        width: 200px;
        box-shadow: 1px 1px 20px rgb(168, 152, 152);
        padding: 20px;
        background: #ccc;
}
.burger__content>li{
        color: #352d2f;
        font-size: 24px;
}
.header_twy__block{
         display: flex;
         justify-content: center;
         /* width: 1080px; */
         align-items: center;
         flex-wrap: wrap;
         margin: 0 auto;
         flex-direction: column;
}
.header_twy__block>h3{
         font-size: 80px;
         font-family: "Teko_L";
         text-transform: uppercase;
         text-indent: 30px;
         text-align: center;
         font-weight: 300;
         line-height:100px;
         letter-spacing: 7px;
         color: #fff;
}
.header_twy__block>button{
         width: 200px;
         /*opacity: 0.2;
         */margin: 0 auto;
         padding: 5px;
         font-family:"Teko_R" ;
         font-weight: 400;
         font-size: 20px;
         color: #fff;
         border: 2px solid rgba(255, 255, 255, 0.205);
         outline: none;
         background-color: inherit;
         text-transform: uppercase;
         letter-spacing: 2px;
         transition:font,padding 1s ease-in-out ;
         -webkit-transition:font,padding 1s ease-in-out ;
         -moz-transition:font,padding 1s ease-in-out ;
         -ms-transition:font,padding 1s ease-in-out ;
         -o-transition:font,padding 1s ease-in-out ;
}
.header_twy__block>button:hover{
        font-size: 22px;
        padding: 10px;
        position: relative;
        
        /* border-image: linear-gradient(darkblue,darkred); */
        
}
.header_twy__block>button:hover::before{
      
        right: 2px;}


.header_twy__block>button::before{
         content: url(../img/play.png);
         position: relative;
         top: 3px;
         right: 10px;
         transition: right .5s ease-in-out;
         -webkit-transition: right .5s ease-in-out;
         -moz-transition: right .5s ease-in-out;
         -ms-transition: right .5s ease-in-out;
         -o-transition: right .5s ease-in-out;
}
.header_twy__block___cell{
         display: flex;
         justify-content: center;
         text-transform: uppercase;
         font-size: 18px;
         font-family: "Teko_R";
         font-weight: 400;
         color: #fff;
         text-align: center;
         /* margin-top: 90px; */
         height: 90px;
         margin-bottom: 30px;
         position: relative;
         letter-spacing: 1.2px;
}
.header_twy__block___cell>p{
         position: absolute;
         bottom: 0;
}
.header_twy__block___cell>p::before{
         content: url(../img/mouse.png);
         position: absolute;
         text-align: center;
         top: -35px;
         right: 38px;
}
.section_one{
         font-family:"Teko_R" ;
         font-weight: 400;
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         flex-direction: column;
         padding-bottom: 70px;
}
.section_one>h3{
         font-size: 40px;
         color: rgb(0, 0, 0);
         letter-spacing: 4px;
         text-transform: uppercase;
         line-height: 1.2;
         text-align: center;
         margin-top: 50px;
         font-family:"Teko_R" ;
         font-weight: 400;
}
.section_one>button{
         border: none;
         background-color: rgb(246, 60, 60);
         width: 230px;
         height: 50px;
         font-size: 20px;
         letter-spacing: 4px;
         margin: 0 auto;
         text-align: center;
         color: rgb(255, 255, 255);
         text-transform: uppercase;
         line-height: 1.2;
         font-family: "Teko_R";
         margin-top: 26px;
         outline: none;
         cursor: pointer;
         margin-bottom: 10px;
         transition: font, background ,border .7s ease-in-out ;
         -webkit-transition: font, background ,border .7s ease-in-out ;
         -moz-transition: font, background ,border .7s ease-in-out ;
         -ms-transition: font, background ,border .7s ease-in-out ;
         -o-transition: font, background ,border .7s ease-in-out ;
}
.section_one>button:hover{
        font-size: 22px;
        background-color: rgb(53, 45, 47);
        border-bottom: 3px dashed rgb(205, 194, 194);
        border-top: 3px dashed rgb(204, 199, 199);
}
.section_twy{
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;
}
.section_twy__oneLvl{
         display: flex;
         flex-wrap: wrap;
         width: 100%;

}
.section_twy__oneLvl_one{
        background-color: rgb(246, 60, 60);
        width: 50%;
        position: relative;
}
.section_twy__oneLvl_twy{
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         width: 50%;
}
.section__flex{
        display: flex;
        justify-content: flex-start;
        align-items: center;
}
.section_twy__oneLvl_twy_one{
         flex: 1 1 300px;
         background-color: rgb(53, 45, 47);
         position: relative;
} 
.section_twy__oneLvl_twy_twy{
         background-color: rgb(48, 40, 42);
         flex: 1  1 300px;
         position: relative;
} 
.content_section_twy{
         
         padding-left: 50px;
}
.poss_twy{
         bottom: 30px;
         left: 70px;
}
.poss_one{
        bottom: 150px;
         left: 100px;   
}
.poss_one>h5{
         font-size: 30px; 
         color: rgba(255, 255, 255, 0.302);
         text-transform: uppercase;
         line-height: 1.2;
         font-family: "Teko_R";
         font-weight: 400;
         margin-bottom: 20px;

}
.poss_one>h4{
         margin-bottom: 20px;
}
       
.content_section_twy>p{ 
          text-align: left;
         line-height: 1.333;
         color: rgba(255, 255, 255, 0.702);
         font-size: 18px;
         font-family: "Titillium_Web_L";
         font-weight: 300;
                      
}
.content_section_twy>h4{
         font-size: 60px;
         color: rgb(255, 255, 255);
         text-transform: uppercase;
         line-height: 1.2;
         text-align: left;
         font-family: "Teko_R";
         font-weight: 400;
         letter-spacing: 5px;
}
.section_twy__twyLvl{

         
         line-height: 60px;
         flex: 1 100%;
         background-color: rgb(48, 40, 42);
    
              
              
                /* .BG {
                 
                  position: absolute;
                  left: 0px;
                  top: 2353px;
                  width: 1920px;
                  height: 80px;
                  z-index: 78;
                } */
                
} 
.section_twy__twyLvl>div{
         position: relative;
         width: 200px;
         margin: 0 auto;
}
.section_twy__twyLvl>div>h5{
         font-size: 20px;
         font-family: "Teko_R";
         font-weight: 400;
         color: rgb(255, 255, 255);
         text-align: center;
         letter-spacing: 1.3px;
         position: relative;
         text-transform: uppercase;
         text-indent: 5px;
}
.section_twy__twyLvl>div>h5::before{
         content: "";
         background-color: rgb(255, 255, 255);
         width: 180px;
         height: 4px;
         position: absolute;
         text-align: center;
         bottom: 14px;
         left:19px;
}
.section-there{
        
         display: flex;
        
         flex-direction: column;
         flex-wrap: wrap;
         padding: 0 20px;
         gap: 20px;
}
.section-there__one{
        gap: 20px;
         display: flex;
         flex-wrap: wrap;
         margin-bottom: 80px;
         /* justify-content: center; */
         /* align-items: center; */
}
.section-there__one_1{
        width: 500px;
         margin: 0 auto;
}
.section-there__one_1_h5{
        font-size: 30px;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        text-align: left;
        line-height: 1;
        font-family: "Teko_R";
        font-weight: 400;
        letter-spacing: 1.7px;
}
.section-there__one_1_p{
         font-size: 16px;
         color: rgb(85, 85, 85);
         line-height: 1.375;
         text-align: left;
         font-family: "Titillium_Web_L";
         font-weight: 300;



}
.section-there__one_1__img{
                margin-top: 50px;
                margin-bottom: 17px;
}
.section-there__one_2__img{
                margin-top: 42px;
                margin-bottom: 19px;
        } 
.section-there__there{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 50px;
                gap: 20px;
}  
.black_div{
                width: 270px;
                height: 195px;
                background-color: rgb(48, 40, 42);
                color: #fff;
                /*text-align: center;
                */display: flex;
                justify-content: center;
                flex-wrap: wrap;
               
                align-items: center;
                /*position: relative;
                */cursor: pointer;
                transition: transform 1s ease-in-out ;
                -webkit-transition: transform 1s ease-in-out ;
                -moz-transition: transform 1s ease-in-out ;
                -ms-transition: transform 1s ease-in-out ;
                -o-transition: transform 1s ease-in-out ;
}     
.black_div>div>p{
                font-size: 30px; 
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                text-align: center;
                line-height: 1.2;
                font-weight: 300;
                font-family: "Teko_R";
        
}
.black_div>div{
                text-align: center;
                line-height: 30px;
}
.black_div:hover{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
}
.section_force{
                background-color: rgb(48, 40, 42); 
                height: 602px;
                width: 100%;
                margin-top: 70px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
} 
.section_force>div{
                width: 570px;
                height: 290px;
                margin: 0 auto;
                z-index: 6;
                background-color: rgb(246, 60, 60);
         
      
}
.section_force__text{
    
                font-size: 18px;
                font-family: "Teko_R";
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                line-height: 0.889;
                text-align: center;
                font-weight: 400;
                z-index: 31;
              
              
}
.section_force>div>h5{
    
                font-size: 30px;
                font-family: "Teko_L";
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                line-height: 1.2;
                text-align: center;
                letter-spacing: 4px;
                font-weight: 300;
                margin-top: 7px;
                
              
              
}
.section_force>div>div{
                text-align: center;
                font-size: 30px;
                font-weight: 300;
                color: rgb(255, 255, 255);
                line-height: 1.2;
                margin: 0 auto;
                width: 200px;
                height: 70px;
                word-spacing: 10px;
                letter-spacing: 2px;
                z-index: 30;
                font-family: "Teko_L";
                
                margin-top: 13px;

              
              
}

.section_force>div>p{
                text-align: center;
}
.section_force>div>p:first-child{
                margin-top: 59px;
                margin-bottom: 10px;
}
.footer_flex{
                display: flex;
                flex-wrap: wrap;
                /* flex-direction:row; */
                justify-content: space-between;
                width: 1200px;
                /* height: 100%; */
                margin: 30px auto;
                overflow-x: hidden;
}
.footer_flex>div>h5{
                  margin-top: 30px;      
                font-size: 30px;
                font-family: "Teko";
                color: rgb(0, 0, 0);
                text-transform: uppercase;
                line-height: 1.2;
                text-align: left;
                letter-spacing: 4px;
                font-family: "Teko_L";
                font-weight: 400;
                
              
}

.footer_flex>div>hr{
        
                border: none;
      
                background-color: rgb(48, 40, 42);
              
                /* width: 270px; */
                height: 4px;
                z-index: 11;
                margin-bottom: 20px;
              
              
}
.footer_flex>div{
                margin-left: 30px;
                margin-bottom: 30px;
}
.footer_flex_one{
                flex: 1 1 200px;
                /* flex-basis: 400px; */
                /* border: 1px solid #030; */
                /* height: 90px; */
       
}
.footer_flex_twy{
                flex: 2 2 200px;
                /* border: 1px solid #030; */
                /* height: 90px; */
                flex-basis: 400px;
}

.footer_flex_three{
                flex: 1 1 200px;
                /* border: 1px solid #030; */
                /* height: 90px; */
                /* flex-basis: 400px; */
}
footer{
                margin-bottom: 29px;
}
.footer_list{
                display: flex;
                list-style-type: none;
                flex-direction: column;
                flex-wrap: wrap;
                /* height: 900px; */
                width: 300px;
}
.footer_list>li{
        
                font-size: 14px;
                font-family: "Titillium_Web_L";
                color: rgb(85, 85, 85);
                line-height: 2.143;
                text-align: left;
               
                /* width: 113px; */
                /* height: 164px; */
                z-index: 10;
              
              
}
.flex_footer{
                display: flex; 
                flex-wrap: wrap;
                justify-content: space-between; 
}
.flex_footer>ul{
        flex-basis: 130px;
}
.flex_footer>ul+ul{
        margin-right: 60px;
}
#footer_kas{
                margin: 0 auto;
                max-width: 1200px;
}
.footer_footer{
        
                font-size: 13px;
                font-family: "Titillium_Web_L";
                font-weight: 300;
                color: rgb(85, 85, 85);
                line-height: 1.2;
                text-align: left;
                margin-top: 25px;
                z-index: 6;
                margin-left: 50px;
              
}
.footer__item{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;

}
.footer_footer:first-child{
        
}
.footer_footer:last-child{
        margin-right: 50px;
        
}

@font-face{
         font-family: "Teko_L";
         src: url(../font/Teko-Light.ttf);
}
@font-face{
         font-family: "Teko_R";
         src: url(../font/Teko-Regular.ttf);
}
@font-face{
         font-family: "Titillium_Web_R";
         src: url(../font/TitilliumWeb-Regular.ttf);
}
@font-face{
         font-family: "Titillium_Web_L";
         src: url(../font/TitilliumWeb-Light.ttf);
}
@media(max-width:1230px) {
        footer{
                width: 100%;
        }
       
        .footer_flex{
                 width: 800px !important;
        }
        .footer_id{
                padding: 0px 50px;
        }
        #footer_kas {
                width: 900px;
        }
}
@media(max-width:1100px) {

        
}
@media(max-width:900px) {
        .section_twy__oneLvl{
                flex-direction: column;
        }
        .section__flex,.section_twy__oneLvl_twy {
                width: 100%;
        }
        .section_twy__oneLvl_one{
                padding: 40px 0;
        }
        #footer_kas {
                width: 600px;
                margin: 0px;
        }
        .footer_flex{
                flex-direction: column;
                width: 97% !important;
        }
       
        .header_nav{
                width: 600px;
        }
        .header_nav__ul{
                justify-content: space-between;
        }
        .header_nav__ul>li{
                display: none;
        }
        .burger{
                display: flex !important;
        }
        .header_nav__ul>li:first-child{
                right: 0;
        }
        .footer_flex>div>hr {
                width: 100%;
        }
        footer {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                align-items: center;
        }
}
@media(max-width:660px) {
        #footer_kas {
                width: 100%;
        }
        .header_twy__block>h3{
                font-size: 60px !important;
        }
        .footer_flex_twy {
                flex-basis: 100% !important;
        }
        .header_nav{
                width: 300px;
        } 
        .section-there__one_1{
                width: 400px;
        }
        .section-there__there{
                justify-content: center;
        }  
}
@media(max-width:500px) {
        .content_section_twy>h4{
                font-size: 40px;
        }
        .content_section_twy>p{
                font-size: 16px;
        }
        .section_one>h3{
                font-size: 30px;
        }
        .section_one{
                padding: 20px;
        }
        .content_section_twy{
                margin: 0 auto;
                width: 300px;
                padding-right: 20px;
        }
        
}
@media(max-width:400px) {
        .burger__content{
                left: -220px;
        }
        .section-there__one_1{
                width: auto;
                margin: 0;
        } 
        
}